.plincipal {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

figure {
    height: 100px;
}

.herowave {
    width: 100%;
}

p {
    width: 90vh;
}

.content1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnabout {
    margin-top: 50px;
}