.navbar{
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0);
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnsl {
    transition-duration: 0.1s;
}

.btnsignup:hover{
    border-color: #146C94;
    background-color: #146C94!important;
    color: white;
}

.btnlogin:hover{
    border-color: #F6F1F1;
    background-color: #F6F1F1!important;
    color: black!important;
}

.nombreApp{
    font-family: 'Pacifico', cursive;
}

.align-content-start {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.btnopc{
    transition-duration: 0.1s;
}

.btnopc:hover{
    border-color: #F6F1F1;
    background-color: #F6F1F1!important;
    color: black!important;
}