body {
    font-family: 'Red Hat Display', sans-serif;
}

.signuplink {
    transition-duration: 0.1s;
}

.signuplink:hover{
    color: #213555!important;
}

.btningre {
    transition-duration: 0.1s;
}

.btningre:hover {
    color: black!important;
    background-color: #AFD3E2!important;
}