body {
    font-family: 'Red Hat Display', sans-serif;
}

.nuevocurso {
    height: 10vh;
}

.cursos {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}

.stylecardcursos{
    display: flex;
    width: 35vh;
    height: 50vh;
    max-width: 85%;
    text-decoration: none;
    padding: 3vh;
    color: black;
    flex-direction: column;
    margin-bottom: 4vh;
    background-color: #AFD3E2;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 5px 8px #19A7CE;
    border-color: #19A7CE;
}

.imgcardcursos {
    width: 100%;
    border-radius: 13px;
}

.btncursos{
    background-color: #F6F1F1;
    transition-duration: 0.1s;
}

.btncursos:hover {
    background-color: #19A7CE;
    color: white;
}